.span3
  %h5
    = link_to @movie.title, movie_path(@movie)
  .poster
    = link_to movie_path(@movie) do
      %img{ :src => @movie.rt_poster }
  - if current_user
    %div{ :data => { :movie_id => @movie.id } }
      .star{ :data => { :rating => (current_user.preferences.where(:item_id => @movie.id).any?) ? current_user.preferences.where(:item_id => @movie.id).first.rating : nil } }