.navbar
  .navbar-inner
    %ul.nav
      %li
        %a{:href => '/'} Home
.well.home
  %h3.page-header JRuby Mahout Movies
  %h4.page-header Popular Movies
  .row-fluid.movies
    - @movies.each do |movie|
      .span3
        = movie.title
        = movie.screenshot