.well
  %h4.page-header Popular Movies
  .row-fluid.movies
    - @movies.each do |movie|
      .span3
        %h5
          = link_to movie.title, movie_path(movie)
        %img{ :src => movie.rt_poster }